//<МИКСИНЫ>===============================================================================================
@mixin anim($time, $delay) {
    -webkit-transition: all $time ease $delay;
    -moz-transition: all $time ease $delay;
    -ms-transition: all $time ease $delay;
    -o-transition: all $time ease $delay;
    transition: all $time ease $delay;
}
@mixin anim_cubic($time, $delay) {
    -webkit-transition: all $time cubic-bezier(0.68, -0.55, 0.265, 1.55) $delay;
    -moz-transition: all $time cubic-bezier(0.68, -0.55, 0.265, 1.55) $delay;
    -ms-transition: all $time cubic-bezier(0.68, -0.55, 0.265, 1.55) $delay;
    -o-transition: all $time cubic-bezier(0.68, -0.55, 0.265, 1.55) $delay;
    transition: all $time cubic-bezier(0.68, -0.55, 0.265, 1.55) $delay;
}
@mixin rotate($deg) {
    -moz-transform: rotate($deg);
    -ms-transform: rotate($deg);
    -webkit-transform: rotate($deg);
    -o-transform: rotate($deg);
    transform: rotate($deg);
}
@mixin scale($num) {
    -moz-transform: scale($num);
    -ms-transform: scale($num);
    -webkit-transform: scale($num);
    -o-transform: scale($num);
    transform: scale($num);
}
@mixin skew($num) {
    -webkit-transform: skewX($num);
    -moz-transform: skewX($num);
    -ms-transform: skewX($num);
    -o-transform: skewX($num);
    transform: skewX($num);
}
@mixin cnt($h) {
    display: flex;
    flex-direction: column;
    height: $h;
    text-align: center;
    align-items: stretch;
    justify-content: center;
}
@mixin tr($x, $y, $z) {
    transform: translate3d($x, $y, $z);
}
@mixin flexbox() {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    font-size: 0;
}
@mixin flexorder($val) {
    -webkit-box-ordinal-group: $val;
    -moz-box-ordinal-group: $val;
    -ms-flex-order: $val;
    -webkit-order: $val;
    order: $val;
}
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================
@font-face {
    font-family: "Circe";
    src: url("../fonts/CirceBold-Bold.eot");
    src: url("../fonts/CirceBold-Bold.eot?#iefix") format("embedded-opentype"),
        url("../fonts/CirceBold-Bold.woff2") format("woff2"), url("../fonts/CirceBold-Bold.woff") format("woff"),
        url("../fonts/CirceBold-Bold.ttf") format("truetype"),
        url("../fonts/CirceBold-Bold.svg#CirceBold-Bold") format("svg");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Ubuntu";
    src: url("../fonts/Ubuntu.eot");
    src: url("../fonts/Ubuntu.eot?#iefix") format("embedded-opentype"), url("../fonts/Ubuntu.woff2") format("woff2"),
        url("../fonts/Ubuntu.woff") format("woff"), url("../fonts/Ubuntu.ttf") format("truetype"),
        url("../fonts/Ubuntu.svg#Ubuntu") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Ubuntu";
    src: url("../fonts/Ubuntu-Medium.eot");
    src: url("../fonts/Ubuntu-Medium.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Ubuntu-Medium.woff2") format("woff2"), url("../fonts/Ubuntu-Medium.woff") format("woff"),
        url("../fonts/Ubuntu-Medium.ttf") format("truetype"),
        url("../fonts/Ubuntu-Medium.svg#Ubuntu-Medium") format("svg");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Ubuntu";
    src: url("../fonts/Ubuntu-Light.eot");
    src: url("../fonts/Ubuntu-Light.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Ubuntu-Light.woff2") format("woff2"), url("../fonts/Ubuntu-Light.woff") format("woff"),
        url("../fonts/Ubuntu-Light.ttf") format("truetype"), url("../fonts/Ubuntu-Light.svg#Ubuntu-Light") format("svg");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Ubuntu";
    src: url("../fonts/Ubuntu-Bold.eot");
    src: url("../fonts/Ubuntu-Bold.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Ubuntu-Bold.woff2") format("woff2"), url("../fonts/Ubuntu-Bold.woff") format("woff"),
        url("../fonts/Ubuntu-Bold.ttf") format("truetype"), url("../fonts/Ubuntu-Bold.svg#Ubuntu-Bold") format("svg");
    font-weight: bold;
    font-style: normal;
}
//<Подключаем шрифты>=======================================================================================

//</Подключаем шрифты>=======================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontfamily: Ubuntu, "Helvetica", sans-sarif;
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>===========================================================================================================
$minwidth: 320px;
$mw: 1200;
$md1: $mw + 12;
$md2: 992.98;
$md3: 767.98;
$md4: 515.98;
//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
* {
    padding: 0px;
    margin: 0px;
    border: 0px;
}
*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,
:active {
    outline: none;
}
a:focus,
a:active {
    outline: none;
}
aside,
nav,
footer,
header,
section {
    display: block;
}
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    min-width: $minwidth;
    position: relative;
    width: 100%;
    color: #000;
}
body {
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    font-weight: normal;
    font-family: $fontfamily;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    &.lock {
        overflow: hidden;
        @media (max-width: $md3+px) {
            width: 100%;
            position: fixed;
            overflow: hidden;
        }
    }
}
input,
button,
textarea {
    font-family: $fontfamily;
}
input::-ms-clear {
    display: none;
}
button {
    cursor: pointer;
}
button::-moz-focus-inner {
    padding: 0;
    border: 0;
}
a,
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
ul li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    &.loaded {
    }
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
.container {
    max-width: $mw + px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    width: 100%;
    @media (max-width: $md2+px) {
        max-width: 970px;
    }
    @media (max-width: $md3+px) {
        max-width: 750px;
    }
    @media (max-width: $md4+px) {
        max-width: none;
        padding: 0 10px;
    }
}
.container-sm {
    max-width: 930px;
}
.md {
    max-width: 1660px;
}
.column-md {
    justify-content: flex-end !important;
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
@import "blocks/btn.scss";
@import "vars.scss";
@import "blocks/forms.scss";
@import "blocks/header.scss";
@import "blocks/intro.scss";
@import "blocks/main.scss";
@import "blocks/store.scss";
@import "blocks/about.scss";
@import "blocks/delivery.scss";

@import "blocks/footer.scss";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

@import "blocks/popup.scss";

//<ОСНОВНОЙ БЛОК>====================================================================================================

//====================================================================================================

//</ОСНОВНОЙ БЛОК>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "blocks/ui.scss";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
