//<BUTTONS>====================================================================================================
.btn{
	display: inline-block;
	color: #ffffff;
	font-size: 18px;
	font-weight: 500;
	padding: 17px 50px;
	border-radius: 30px;
	background-color: #ff5a20;
	border: 2px solid #ff5a20;
	cursor: pointer;
	@include anim(0.5s,0s);
	&:hover{
		background-color: #fff;
		color: #000;
	}
	&.fw{width: 100%;}
}

.form__btn{
	padding: 14px 40px;
	font-size: 20px;
	cursor: pointer;
	&.disabled{
		color:#fff;
		background-color: #dedbdb;
		border: 2px solid #dedbdb;
	}
}

//</BUTTONS>====================================================================================================
