//====================================================================================================
.popup {
	-webkit-overflow-scrolling: touch;
	background-color: rgba(0,0,0,0.8);
	display: none;
	position: fixed!important;
	top: 0px;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	z-index: 100;
	&.active{
		.popup-content{@include scale(1);}
	}
	&.show{display: block;
		.popup-content{@include scale(1);}
	}
}
.popup-table{height: 100%;table-layout: fixed;
	>.cell{height: 100%;vertical-align: middle;padding: 30px 10px;}
}
.popup-content {
	@include scale(0);
	@include anim(0.3s, 0s);
	position: relative;
	margin: 0px auto;
	background-color: #fff;
	padding: 16px;
	background-color: #ffd656;
	border-radius: 22px;
	
	@media (mim-width:$md3+px){
		padding: 53px 66px 54px 59px;
	}
	.form{
		width: 100%;
		margin: 0 auto;
	}
}
.popup-body{
	background-color: #fff;
	border-radius: 22px;
	padding: 32px 15px 45px 15px;
	position: relative;
	text-align: center;
}

.popup-close {
	width: 25px;
  height: 25px;
  position: absolute;
  top: 10px;
  right: 15px;
	cursor: pointer;
	z-index: 5;
	background: url('../img/icons/close.svg') 0 0 no-repeat;
}
.popup-video{
	.popup-close{width: 40px;height: 40px;background-color: #000;top: 0;right: 0;}
}
.popup-video__value{max-width: 99%;height: 99%;border: none;
	iframe{position: fixed;top: 50%;left: 50%;width: 100%;min-height: 100%;height: auto;transform: translateX(-50%) translateY(-50%);background-size: cover;}
}

//====================================================================================================
//================  Callback   =============================================================

.callback{
	.popup-content{
		max-width: 700px;
		
		
		@media (min-width:$md2+px){
			margin-right: 130px;
		}
	}

	&-image{
		text-align: center;
		margin-bottom: 25px;
		margin-right: -30px;
		img{
			max-width: 100%;
			max-height: 100%;
		}
	}
	&__title{
		color: #484646;
		font-size: 24px;
		font-weight: 700;
		text-align: center;
		line-height: 33px;
		@media (min-width:$md4+px){
			
		}
	}
	&__txt{
		color: #484646;
		font-size: 18px;
		font-weight: 400;
		text-align: center;
		margin-bottom: 26px;
		@media (min-width:$md4+px){
			
		}
	}
	&__form{
		max-width: 472px;
		@include flexbox();
		flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
	}
	&__input{
		flex: 0 1 100%;
		margin-bottom: 9px;
		margin-right: 4px;
		&:last-child{
			margin-right: 0;
		}
		@media (min-width:$md4+px){
			flex: 0 1 49%;
		}
		&-tel{
			flex: 0 1 100%;
		}
		.input{
			background-color: #f1f1f1;
			padding: 15px 0px 15px 17px;
			font-family: Ubuntu;
			font-size: 16px;
			font-weight: 300;
		}
	}
	&__textarea{
		flex: 0 1 100%;
		height: 94px;
		margin-bottom: 17px;
	}
	&__button{
		@include flexbox();
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	&-load {
		color: #573aa1;
		font-size: 18px;
		font-weight: 500;
		margin-bottom: 38px;
	}
}
.sl{
	border-left: 2px solid green;
  border-bottom: 2px solid green;
  transform: rotate(-42deg);
  width: 21px;
  display: block;
  height: 10px;
  position: absolute;
  top: 0;
  left: 0;
	display: none;
}

//================  Login   =============================================================

.login-in{
	.popup-content{
		max-width: 825px;
		
	}
	.popup-body{
		min-height: 350px;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 35px;
    padding-bottom: 30px;

    @media (min-width:$md3+px){
    	padding-top: 70px;
    	padding-bottom: 90px;
    	min-height: 580px;
    }
		&__box{
			flex: 1 0 100%;
	    display: flex;
	    flex-direction: column;
	    justify-content: space-around;

		}
	}
	&__title{
		color: #000000;
		font-size: 24px;
		font-weight: 700;

		@media (min-width:$md3+px){
			font-size: 42px;
		}
	}
	&__form{
		max-width: 400px;
		flex: 1 0 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
	}
	&__input{
		border-bottom: 1px solid #cecdcd;
		&:last-child{
		}
	}
	input{
		color: #cecdcd;
		font-size: 12px;
		font-weight: 400;
		
		padding: 0px 0px 13px 0px;

		@media (min-width:$md3+px){
			font-size: 20px;
			line-height: 21.35px;
		}
	}
	&__txt{
		color: #503e9d;
		font-size: 12px;
		font-weight: 400;
		
		text-align: right;
		cursor: pointer;

		@media (min-width:$md3+px){
			font-size: 16px;
			line-height: 21.35px;
		}
	}
	&__btn{
		padding: 7px 27px;
		
		@media (max-width:$md3+px){
			font-size: 12px;
		}
		@media (min-width:$md3+px){
			padding: 14px 64px 14px 64px;
		}
	}
	.box-reg{
		display: none;
	}
}
.reg-box{
	@include flexbox();
	justify-content: space-around;
	align-items: center;
	padding: 0px;
	color: #b3b3b3;
	font-size: 12px;
	font-weight: 400;
	line-height: 21.35px;

	@media (min-width:$md3+px){
		font-size: 18px;
		padding: 0px 75px 0px 75px;
		justify-content: space-between;
	}

	.reg, .login{
		color: #503e9d;
		cursor: pointer;
	}
}
//================  OrderDelivery   =============================================================

.orderDelivery{
	.popup-content{
		padding: 0;
	  background-color: #fff;
	  max-width: 1200px;
	  overflow: hidden;
	  padding-bottom: get-vw(130px);
	}
	&__bg{
		padding-top: 23%;
		@include flexbox();
		align-items: center;
		position: relative;
		margin-bottom: get-vw(60px);
	}
	&__row{
		@include flexbox();
		justify-content: flex-start;
		align-items: center;
		position: absolute;
		top: 50%;
		left: 17%;
		transform: translateY(-50%);
		width: 100%;
	}
	&__title{
		color: #3c3d78;
		font-size: 24px;
		font-weight: 700;
		
		/*position: absolute;
		top: 50%;
		left: 35%;
		margin-top: -30px;*/
    @media (min-width:$md2+px){
    	line-height: get-vw(65px);
    	font-size: get-vw(55px);
    }
	}
	&__icon{
		background-image: url(../img/order-delivery-icon.png);
		background-size: contain;
		background-repeat: no-repeat;
		background-position: left;
		width: get-vw(208px);
		height: get-vw(147px);
		margin-right: 20px;
		animation: delivery linear 4.1s infinite;
		position: relative;
    left: 0;
    @media (min-width:$md2+px){
    	margin-right: 50px;
    }
	}
	&__form{

		padding: 0px 10px 0px 10px;

		@media (min-width:$md3+px) {
			padding: 0px 60px 0px 60px;
		}
	}
	.form__title{
		color: #131313;
		font-size: 22px;
		font-weight: 700;
		line-height: 45px;
		
		@media (min-width:$md2+px){
			font-size: 36px;
			
			margin-bottom: 17px;
		}
	}
	.form__txt{
		color: #767676;
		font-size: 18px;
		font-weight: 400;
		margin-bottom: 29px;
		display: inline-block;
	}
	.textarea{
    min-height: 115px;
		background-color: #fef7ec;
		box-shadow: 0 0 5px rgba(48, 48, 48, 0.36);

		@media (min-width:$md2+px){
			min-height: 302px;
		}
	}
	&__input, &__textarea{
		margin-bottom: 25px;
		@media (min-width:$md2+px){
			margin-bottom: get-vw(75px);
		}
	}
	.input{
		color: #585858;
		font-size: 18px;
		font-weight: 400;
		background-color: #fef7ec;
		padding: 10px 0px 10px 10px;
		box-shadow: 0 0 5px rgba(48, 48, 48, 0.36);

		@media (min-width:$md2+px){
			padding: 29px 0px 29px 40px;
		}
	}
	&__button{
		text-align: center;
	}
	&__btn{
		@media (max-width:$md4+px){
			padding: 10px 20px;
		}
	}
}
@keyframes delivery{
	0%{
		left: 0;
	}
	50%{
		left: 0;
	}
	100%{
		left: 110%;
	}
}